* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

:root {
  --primary-color: #0046c7;
  --max-width: 1440px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

#Container:has(#Header) {
  padding-top: 100px !important;
}

#Container {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}
